**/.vscode
**/metamer_old
**/gaussian-splatting_old
**/m360/**
**/m3602/**
**/synthetic/**
**.png

**/__pycache__/**
**/fov_results/**
**/**.mp4
**/fov_results**/**
**/lens_results**/**

**/**.mp4 
**/**.avi


**/archives/**

**/tandt/**
**/db/** 

**/data/** 

**/eval/**



**/eval_lg/**

**/LightGS_results/**


**/compact_results/**

**/eagle_gs/**


**/tiny-cuda-nn/**

**/tiny-cuda-nn/**

**/MMFR/**

**/dataset/**